* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.search-box select {
  padding: 8px;
  border-radius: 5px;
}

#searchResult div {
  background: #fff2f2;
  border-left: 6px solid red;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 15px;
}

#searchResult div b {
  color: darkred;
  font-size: 18px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #0c4e89;
  flex-wrap: wrap;
  min-height: 70px;
}  
.button  {
  display: flex;
  gap: 10px;
}
 .button button { 
  color: black;
  background: yellow;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  flex-direction: row;
  border: 2px solid #ff4d4d; 
}  
.button button:hover {
  color: white;
background: black;
}  

h1 {
  color: black;
  background: yellow;
  padding: 0px 30px;
  border: 2px solid yellow;
  border-radius: 8px;
}
p {
  background: yellow;
}

#profile {
  display: none;
  background: pink;
  padding: 40px;
  text-align: center;
}

.search-box input {
 padding: 8px;
  max-width: 100px;
  border-radius: 5px;
  border: none;
  outline: none;
  display: inline;
  min-width: 60px;
}
#donorForm {
display:none; 
  background:white;
  padding:20px;
  max-width:600px; 
  background: lightgray;
  border: 5px solid black;
  border-radius: 10px;
  gap: 15px;
}

#footer {
  display: flex;
  background: skyblue;
  width: 100%;
  height: 96px;
  bottom: 0;
  align-items: center;
  justify-content: center;
}  
.jk {
  font-size: 30px;
  color: black;
   background: skyblue;
  border: skyblue;
}   
#main {
  background-image: url(https://images.unsplash.com/photo-1615461066841-6116e61058f4?auto=format&fit=crop&w=1920&q=80); 
  height: 100vh;
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;
   display: flex;
   align-items: center;
   justify-content: center; 
  padding-bottom: 120px;
}

.jitu1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}



button {
   color: black;
   background: #ff878c;
   font-size: 40px;
   font-weight: bold;
   border: 2px solid darkred;
   border-radius: 8px;
   padding: 0px 10px;
 
 } 

.jitubhai {
  align-self: center;
  }

 button:hover {
   color: #ff878c;
   background: black;
 }   

.donor-form {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 15px;
}


.donor-form textarea,
.donor-form button {
  grid-column: span 2;
}

.donor-form label {
  font-weight: bold;
  font-size: 14px;
}

.donor-form input,
.donor-form select,
.donor-form textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #333;
  font-size: 14px;
}

.donor-form button {
  background: #ff4d4d;
  color: white;
  font-size: 22px;
  padding: 10px;
  border: 2px solid #ff4d4d;
  border-radius: 8px;
  cursor: pointer;
  display: inline;
  width: 40%;
  align-self: center;
  
}

.donor-form button:hover {
  background: darkred;
}
#donorForm {
  margin: auto;
}

#finderForm{
  display: none;
  background: lightgray;
  padding: 20px;
  max-width: 600px;
  border: 5px solid black;
  border-radius: 10px;
  margin: auto;
}


@media (max-width: 600px) {
  #result div {
    font-size: 14px;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  * {
  padding: 0;
  margin: 0;
  text-decoration: none;
    box-sizing: border-box;
}
  button {
   color: black;
   background: #ff878c;
   font-size: 60px;
   font-weight: bold;
   border: 8px solid darkred;
   border-radius: 18px;
   padding: 0px 10px;
 
 } 

.jitubhai {
  align-self: center;
  }

 button:hover {
   color: #ff878c;
   background: black;
 }
  h1 {
  color: black;
  background: yellow;
  padding: 0px 30px;
  border: 2px solid yellow;
  border-radius: 8px;
    font-size: 60px;
}
     

#profile {
  display: none;
  background: pink;
  padding: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
}   
.donor-form {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 7px;
}


.donor-form textarea,
.donor-form button {
  grid-column: span 2;
}

.donor-form label {
  font-weight: bold;
  font-size: 18px;
}

.donor-form input,
.donor-form select,
.donor-form textarea {
  width: 100%;
  padding: 18px;
  border-radius: 15px;
  border: 6px solid #333;
  font-size: 14px;
}

.donor-form button {
  background: #ff4d4d;
  color: white;
  font-size: 22px;
  padding: 15px;
  border: 5px solid #ff4d4d;
  border-radius: 20px;
  cursor: pointer;
  display: inline;
  width: 40%;
  align-self: center;
  
}

.donor-form button:hover {
  background: darkred;
}
#donorForm {
  margin: auto;
}
}                               